:root {
    --gutter: 16px;
    --header-height: 50px;
    --narrow-hero-height: 30vh;

    --main-content-width: min(80%, 700px);
    --menu-photo-width: 150px;

    --base-font-size: 1.3rem;

    --tab-number: 3;

    --primary-color: #617d4f;    
    --primary-color-light: #bad4aa;
    --secondary-color: #3c3f77;
    --secondary-color-light: #aaacd4;
    --secondary-color-xlight:#e7e8f3;
    --text-color-dark: #0c0e0b;
    --text-color-light: #32382e;
    --background-color: #dae2d5;
    --surface-color: white;
    --light-blue: #b6cfd4;

}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

h1, h2, h3 {
    color: var(--text-color-dark);
}

/* Major sections */

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: var(--header-height) auto;
    font-size: var(--base-font-size);
    color: var(--text-color-light);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: var(--background-color);
}

nav {
    display: grid;
    grid-template-columns: repeat(var(--tab-number), 1fr);
    gap: var(--gutter);
}

nav>button {
    background-color: var(--primary-color-light);
    border: none;
    border-radius: 20%, 0, 0, 0;
    width: 100%;
    height: var(--header-height);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

nav>button.selected {
    background-color: var(--secondary-color-light);
    font-size: 1.3rem;
    font-weight: bold;
}

nav>button:hover {
    filter: brightness(1.1);
}

#content {
    position: relative;
    background-color: var(--background-color);
}

/* top image (used in menu, contact) */
#content img.top {
    position: absolute;
    height: var(--narrow-hero-height);
    width: 100%;
    object-fit: cover;
}

/* main card (used in menu, contact) */
.main-card {
    width: var(--main-content-width);
    background-color: var(--surface-color);
    border-radius: 2rem;
    opacity: 70%;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: calc(var(--gutter) * 2) calc(var(--gutter) * 3) calc(var(--gutter) * 3);
}

.main-card section:not(:first-of-type){
    margin-top: calc(var(--gutter) * 4);
}

.main-card h1 {
    margin-bottom: calc(var(--gutter) * 3);
    font-size: 2.7rem;
    text-align: center;
}

.main-card h2 {
    margin: var(--gutter) 0;
    font-size: 2rem;
    border-bottom: 1px solid var(--text-color-light);
}

.main-card h3 {
    font-size: 1.4rem;
}


/* Home  */
#content[data-tab="home"] img.background {
    height: calc(100vh - var(--header-height));
    width: 100%;
    object-fit: cover;
}

#home-text {
    position: absolute;
    bottom: 18%;
    background: var(--surface-color);
    opacity: 70%;
    backdrop-filter: blur(10px);
    width: 100%;
    padding: var(--gutter);
    text-align: right;
    display: grid;
    justify-items: center;
}

#home-text > * {
    width: var(--main-content-width);
}

/* Calculated on https://min-max-calculator.9elements.com/ */
#home-text > h1 {
    font-size: clamp(2rem, 1.455rem + 2.73vw, 3.5rem);
}

#home-text > p {
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
}


/* Menu */

#menu-card ul {
    display: grid;
    gap: calc(var(--gutter) * 3);
}

#menu-card li {
    display: grid;
    column-gap: var(--gutter);
    align-items: center;
    
    grid-template: repeat(2, 1fr) / var(--menu-photo-width) 1fr 3rem;
    grid-template-areas: 
        "image name price"
        "image description description"
    ;
}

#menu-card li img {
    grid-area: image;
}

#menu-card li h3 {
    grid-area: name;
}

#menu-card li .price {
    grid-area: price;
    font-size: 1.6rem;
}

#menu-card li .description {
    grid-area: description;
    align-self: start;
    font-size: var(--base-font-size);
    color: var(--text-color-light);
}

/* Contact */

table#opening-hours {
    margin: var(--gutter);
    font-size: 1.4rem;
    border-collapse: collapse;
}

.table-wrapper {
    width: fit-content;
    margin: calc(var(--gutter)*2) auto;
    padding: var(--gutter);
    border: 5px double var(--primary-color);
}

#opening-hours th,
#opening-hours td {
    padding: calc(var(--gutter)/2) calc(var(--gutter) * 2)
}

#opening-hours th {
    color: var(--text-color-dark);
    border-right: 1px solid var(--primary-color);
    text-align: left;
}

/* For smaller screens */
@media screen and (max-width: 700px) {
    .main-card h2 {
        text-align: center;
    }
    #menu-card li {
        grid-template: 150px 1fr 1fr / 1fr 3rem;
        grid-template-areas: 
            "image image"
            "name price"
            "description description"
        ;
    }   
    #menu-card img {
        justify-self: center;
        padding-bottom: var(--gutter);
    }
    #menu-card h2 {
        margin-bottom: calc(var(--gutter)*3);
    }
}

@media screen and (max-width: 450px) {
    .main-card {
        width: 90%;
        padding-right: calc(var(--gutter)*2);
        padding-left: calc(var(--gutter)*2);
    }
    #menu-card li {
        grid-template-rows: 150px 1fr 1fr auto;
        grid-template-columns:none;
        grid-template-areas: 
            "image"
            "name"
            "price"
            "description"
        ;
    }
    
    #menu-card h2 {
        text-align: center;
        border: none;
        border-radius: 1rem;
        background-color: var(--primary-color-light);
    }

    #opening-hour {
        margin: 0;
    }

    #opening-hours th,
    #opening-hours td {
        padding: calc(var(--gutter)/2) calc(var(--gutter) * 1);
    }
}