:root {
    --gutter: 16px;
    --header-height: 50px;
    --narrow-hero-height: 30vh;

    --main-content-width: min(80%, 700px);

    --tab-number: 3;

    
    --primary-color-light: #bad4aa;
    --secondary-color-light: #aaacd4;
    --background-color: #dae2d5;
    --surface-color: white;
    --light-blue: #b6cfd4;

}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: var(--header-height) auto;
}

header {
    background-color: var(--background-color);
}

nav {
    display: grid;
    grid-template-columns: repeat(var(--tab-number), 1fr);
    gap: var(--gutter);
}

nav>button {
    background-color: var(--primary-color-light);
    border: none;
    border-radius: 20%, 0, 0, 0;
    width: 100%;
    height: var(--header-height);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

nav>button.selected {
    background-color: var(--secondary-color-light);
    font-size: 1.3rem;
    font-weight: bold;
}

nav>button:hover {
    filter: brightness(1.1);
}

#content {
    position: relative;
    background-color: var(--background-color);
}


/* Home  */
#content[data-tab="home"] img.background {
    height: calc(100vh - var(--header-height));
    width: 100%;
    object-fit: cover;
}

#home-text {
    position: absolute;
    bottom: 18%;
    background: var(--surface-color);
    opacity: 70%;
    backdrop-filter: blur(10px);
    width: 100%;
    padding: var(--gutter);
    text-align: right;
    display: grid;
    justify-items: center;
}

#home-text > * {
    width: var(--main-content-width);
}

/* Calculated on https://min-max-calculator.9elements.com/ */
#home-text > h1 {
    font-size: clamp(2rem, 1.455rem + 2.73vw, 3.5rem);
}

#home-text > p {
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
}


/* Menu */

#content[data-tab="menu"] img.background {
    position: absolute;
    height: var(--narrow-hero-height);
    width: 100%;
    object-fit: cover;
}

#menu-card {
    width: var(--main-content-width);
    background-color: var(--surface-color);
    border-radius: 2rem;
    opacity: 70%;
    margin: auto;
    margin-top: 15vh;
}